{% extends 'base.html' %}

{% block content %}
<form method = post>
    <div class="mb-3">
        <div class="mb-3">
            <label for="username"> Логин </label>
            <input class="form-control {% if error %}is-invalid{% endif %}" id="username" name="username">
            {% if error %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
            {% endif %} 
        </div>
        <div class="mb-3">
            <label for="password"> Пароль </label>
            <input type="password" class="form-control {% if error %}is-invalid{% endif %}" id="password" name="password">
            {% if error %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
            {% endif %} 
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="check" name="remember_me">
            <label class="form-check-label" for="check"> Запомнить меня </label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary"> Войти </button>
</form>

{% endblock %}
