{% extends 'base.html' %}

{% block content %}

<h1 class="mb-3"> Изменение пароля пользователя </h1>
<form method='post' novalidate>
    <div class="mb-3">
        <label for="old_password" class="form-label">Старый пароль</label>
        <input type="text" name="old_password" id="login" class="form-control {% if not user_data.old_password or (old_password_validation)%}is-invalid{% else %}is-valid{% endif %}" value="{{ user_data.old_password or ''}}">
        {% if not user_data.old_password %}
            <div class="invalid-feedback">
                Введите старый пароль!
            </div>
        {% elif old_password_validation %}
            <div class="invalid-feedback">
               {{ old_password_validation }}
            </div>
        {% else %}
            <div class="valid-feedback">
                Все круто!
            </div>
        {% endif %}
    </div>
    <div class="mb-3">
        <label for="new_password" class="form-label">Новый пароль</label>
        <input type="password" name="new_password" id="new_password" class="form-control {% if not user_data.new_password or (validation_error and (validation_error.startswith("Пароль") or validation_error.startswith('Пароли') or validation_error.startswith('Используются'))) %}is-invalid{% else %}is-valid{% endif %}" value="{{ user_data.new_password or ''}}">
        {% if not user_data.new_password %}
            <div class="invalid-feedback">
                Введите новый пароль!
            </div>
        {% elif validation_error and (validation_error.startswith("Пароль") or validation_error.startswith('Используются'))%}
            <div class="invalid-feedback">
               {{ validation_error }}
            </div>
        {% else %}
            <div class="valid-feedback">
                Все круто!
            </div>
        {% endif %}
    </div>
    <div class="mb-3">
        <label for="new_password_r" class="form-label">Повторите новый пароль</label>
        <input type="password" name="new_password_r" id="new_password_r" class="form-control {% if not user_data.new_password_r or passwords_not_matching %}is-invalid{% else %}is-valid{% endif %}" value="{{ user_data.new_password_r or ''}}">
        {% if not user_data.new_password_r %}
        <div class="invalid-feedback">
            Повторите новый пароль!
        </div>
        {% elif passwords_not_matching %}
            <div class="invalid-feedback">
                {{ passwords_not_matching }}
            </div>
        {% else %}
            <div class="valid-feedback">
                Все круто!
            </div>
        {% endif %}
    </div>
    <button type="submit" class="btn btn-primary"> {% if action=='new' %} Создать {% else %} Сохранить {% endif %} </button>
</form>
{% endblock %}