{% macro user_form(roles, action, user_data={}, val_error=None) %}
<form method='post' novalidate>
    {% if action == 'new' %}

    <div class="mb-3">
        <label for="login" class="form-label">Логин</label>
        <input type="text" name="username" id="login" class="form-control {% if not user_data.username or (val_error and val_error.startswith('Username')) %}is-invalid{% else %}is-valid{% endif %}" value="{{ user_data.username or ''}}">
        {% if not user_data.username %}
            <div class="invalid-feedback">
                Заполните имя пользователя!
            </div>
        {% elif val_error and val_error.startswith('Username') %}
            <div class="invalid-feedback">
               {{ val_error }}
            </div>
        {% else %}
            <div class="valid-feedback">
                Все круто!
            </div>
        {% endif %}
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Пароль</label>
        <input type="text" name="password" id="password" class="form-control {% if not user_data.password or (val_error and not val_error.startswith('Username'))%}is-invalid{% else %}is-valid{% endif %}" value="{{ user_data.password or ''}}">
        {% if not user_data.password %}
            <div class="invalid-feedback">
                Заполните пароль!
            </div>
        {% elif val_error and not val_error.startswith('Username') %}
            <div class="invalid-feedback">
               {{ val_error }}
            </div>
        {% else %}
            <div class="valid-feedback">
                Все круто!
            </div>
        {% endif %}
    </div>
    {% endif %}
    <div class="mb-3">
        <label for="first_name" class="form-label">Имя</label>
        <input type="text" name="first_name" id="first_name" class="form-control {% if not user_data.first_name %}is-invalid{% else %}is-valid{% endif %}" value="{{ user_data.first_name or ''}}">
        {% if not user_data.first_name %}
            <div class="invalid-feedback">
                Заполните Ваше имя!
            </div>
        {% else %}
            <div class="valid-feedback">
                Все круто!
            </div>
        {% endif %}
    </div>
    <div class="mb-3">
        <label for="last_name" class="form-label">Фамилия</label>
        <input type="text" name="last_name" id="last_name" class="form-control {% if not user_data.last_name %}is-invalid{% else %}is-valid{% endif %}" value="{{ user_data.last_name or ''}}">
        {% if not user_data.last_name %}
            <div class="invalid-feedback">
                Заполните Вашу фамилию!
            </div>
        {% else %}
            <div class="valid-feedback">
                Все круто!
            </div>
        {% endif %}
    </div>
    <div class="mb-3">
        <label for="middle_name" class="form-label">Отчество (опционально)</label>
        <input type="text" name="middle_name" id="middle_name" class="form-control {% if not user_data.middle_name %}is-invalid{% else %}is-valid{% endif %}" value="{{ user_data.middle_name or ''}}">
        {% if not user_data.middle_name %}
            <div class="invalid-feedback">
                Заполните Ваше отчество, если хотите!
            </div>
        {% else %}
            <div class="valid-feedback">
                Все круто!
            </div>
        {% endif %}
    </div>
    {% if g.is_admin  %}
        <div class="mb-3">
            <label for="role_id" class="form-label">Роль</label>
            <select name="role_id" id="role_id" class="form-select">
                {% for role in roles %}
                    <option value="{{ role.id }}"
                        {% if user_data.role_id == role.id %} selected {% endif %}>
                        {{ role.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
    {% endif %}
    <button type="submit" class="btn btn-primary"> {% if action=='new' %} Создать {% else %} Сохранить {% endif %} </button>
</form>
{% endmacro %}